textarea:focus, 
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus, 
.uneditable-input:focus {
    border-color: #6DB802;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #6DB802;
    outline: 0 none;
}

ul.link-list{}
ul.link-list li{position: relative;xborder-bottom: 1px solid #DDDDDD}
ul.link-list li a{line-height: 20px;padding: 10px 0;display: block;text-transform: capitalize;text-indent: 5px;}

ul.link-list.animation-link li a{
	transition: padding-left 1s;
	-webkit-transition: padding-left 1s; /* Safari */
}
ul.link-list.animation-link li a:hover{
	padding-left:10%;
}

.panel{padding: 10px;}
.panel h4{color:#080808;font-family:'nunito';font-weight: 400;font-size: 24px;}
.panel h4 i{color: #6DB802;margin-top: -2px;}
.panel h5 i{color: #6DB802;margin-top: 3px;}
.panel h5{margin: 0;font-family:'nunito';font-weight: 400}
.panel h5 a{}
.panel h5 p{display: inline-block; margin: 0!important;}
.panel p{margin: 10px 0;font-size: 15px;}
.panel p:last-child{margin: 10px 0 0 0;}
.panel a:not(.btn){color: #080808;}
.panel a:not(.btn):hover{color: #6DB802;}
.panel .img-box{}
.panel .img-box img{}

.panel .img-box-border{
	background-color: #FFFFFF;
	border: 1px solid #ddd; 
	padding: 5px;
	border-radius: 5px;
	box-shadow: 5px 16px 10px -12px;
	-moz-box-shadow: 5px 16px 10px -12px;
	-webkit-box-shadow: 5px 16px 10px -12px;
	-o-box-shadow: 5px 16px 10px -12px;
	display: inline-block;
}
.panel .img-box-border img{ max-width: 100%; height: auto}
.panel form{}
.panel form input[type="text"],
.panel form input[type="email"],
.panel form input[type="tel"],
.panel form input[type="password"],
.panel form textarea{
	
}
.panel form button[type="submit"]{}
.panel form button[type="submit"].btn-large i[class^="icon-"]{vertical-align: baseline;}

.panel.border-box, .playground-panel {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 5px 1px #CCCCCC;
    -webkit-box-shadow: 1px 1px 5px 1px #CCCCCC;
    -moz-box-shadow: 1px 1px 5px 1px #CCCCCC;
    -o-box-shadow: 1px 1px 5px 1px #CCCCCC;
    margin: 10px;
    padding: 0 10px 10px;
    cursor: pointer;
}
.panel.border-box:hover{
	border: 1px solid #7DD100;
	box-shadow: 1px 1px 5px 1px #6DB802;
	-webkit-box-shadow: 1px 1px 5px 1px #6DB802;
    -moz-box-shadow: 1px 1px 5px 1px #6DB802;
    -o-box-shadow: 1px 1px 5px 1px #6DB802;
}

.panel.border-box p:hover{
	font-weight: bold;
}

.panel.border-box p:hover i{
	color: #6DB802;
}

.playground-panel{
	overflow: hidden;
	
}
	.playground-panel .fake-table .tbody{
		min-height: 280px;
	}

	.playground-panel ul#rules-container{
		overflow: hidden;
	}

		.playground-panel ul#rules-container > li.rule-item{
			float: left; 
			margin-bottom: 5px;
			padding: 5px 10px;
			display: block;
		}

			.playground-panel ul#rules-container > li.rule-item:hover{
				background:  #6DB802;
				color: #fff;
			}

.feedback-button{
	/* Safari */
	-webkit-transform: rotate(90deg);
	/* Firefox */
	-moz-transform: rotate(90deg);
	/* IE */
	-ms-transform: rotate(90deg);
	/* Opera */
	-o-transform: rotate(90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=4);
	
	position: fixed;
	left: 0;
	margin-left: -53px;
	width: 110px;
	font-size: 18px;
	top: 40%;
	z-index: 1;
	
	
}
.account-button{
	position: fixed;
    right: -46px;
    top: 24px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */
    width: 180px;
    z-index: 1;
    
}

.close-modal-content-fly-button{
	margin-right: -281px;
    position: fixed;
    right: 50%;
    top: 57%;
    transform: rotate(-90deg);
}

.modal{border: 1px solid #FFFFFF; border-radius: 10px;}
.modal form{ margin: 0;}

.modal form input[type="text"].max-wight,
.modal form input[type="email"].max-wight,
.modal form input[type="tel"].max-wight,
.modal form textarea.max-wight{
	width: 100%;
}

.modal .modal-header{
	background-color: #080808; 
	border-radius: 10px 10px 0 0;
	box-shadow: -1px 6px 19px;
	-moz-box-shadow: -1px 6px 19px;
	-webkit-box-shadow: -1px 6px 19px;
}
.modal .modal-header h3{color: #fff}
.modal .modal-body{}
.modal .modal-footer{
	background-color: #080808;
	border-radius:0 0 10px 10px;
	box-shadow: -1px -6px 19px;
	-moz-box-shadow: -1px -6px 19px;
	-webkit-box-shadow: -1px -6px 19px;
}

footer .panel{color: #FFFFFF}
footer .panel h4{color: #FFFFFF}
footer .panel p{color:#808080;}
footer .panel a:not(.btn){color: #FFFFFF; text-decoration: underline;}

ul.social{}
ul.social li{display: block;margin-bottom: 5px;}
ul.social li a.social-button{text-decoration: none; color: #FFFFFF; display: block; height: 28px; line-height: 28px;}
ul.social li a.social-button:hover{color: #FFFFFF}
ul.social li a.social-button i{padding: 5px; margin-right: 5px;background-color: #aaa; color:#fff; line-height: 28px;}
ul.social li a.social-button.fb_button:hover i{background-color: #204385; color:#fff}
ul.social li a.social-button.linkedin_button:hover i{background-color: #02669A; color:#fff}
ul.social li a.social-button.twitter_button:hover i{background-color: #2AA9E0; color:#fff}
ul.social li a.social-button.gplus_button:hover i{background-color: #D3492C; color:#fff}

.fake-table{
	
}

	.fake-table .thead{
		border-bottom: 1px solid #dddee0;
		border-top: 1px solid #dddee0;  
		margin-bottom: 10px;
	}
	
		.fake-table .thead .th{
			height: 30px;
		}
			
			.fake-table .thead .th h5{
				height: 30px;
				line-height: 30px;
			}
			
	.fake-table .tbody{
		border-bottom: 1px solid #dddee0;
		padding-bottom: 10px; 
	}
	
		.fake-table .tbody .tr{
			cursor: pointer;
    		display: block;
    		height: 30px;
    		line-height: 30px;
    		overflow: hidden;
		}
		
			.fake-table .tbody .tr .control-buttons{
				display: none;
				padding: 0 5px;
			}
		
		.fake-table .tbody .tr:hover{
			background: #dddee0;
			color: #333333;
		}
		
			.fake-table .tbody .tr:hover .control-buttons{
				display: block;
			}

.plan-panel{
	padding: 5px;
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 1px 1px 5px 1px #CCCCCC;
    -webkit-box-shadow: 1px 1px 5px 1px #CCCCCC;
    -moz-box-shadow: 1px 1px 5px 1px #CCCCCC;
    -o-box-shadow: 1px 1px 5px 1px #CCCCCC;
    cursor: pointer;
    position: relative;
}	


	.plan-panel .body{
		padding: 15px 0;
		overflow: hidden;
		
	}
	
	.plan-panel .control-buttons {
    	position: absolute;
    	right: 5px;
    	top: 5px;
    	display: none;
	}

	.plan-panel:hover{
		border: 1px solid #7DD100;
		box-shadow: 1px 1px 5px 1px #6DB802;
		-webkit-box-shadow: 1px 1px 5px 1px #6DB802;
    	-moz-box-shadow: 1px 1px 5px 1px #6DB802;
    	-o-box-shadow: 1px 1px 5px 1px #6DB802;
	}
	
	.plan-panel:hover .badge{
		background:#6DB802 ;
	}
	
	.plan-panel:hover .control-buttons{
		display: block;
	}
	
.label-green, .badge-green {
    background-color: #6DB802;
}

strong.label-inverse, strong.badge-inverse{
	font-size: 12px;
    font-weight: bold;
    padding: 5px;
}
/*Media*/
@media (max-width: 1200px) {
  .account-button{display: none}
}

@media (max-width: 620px) {
  #page-content{
	padding-bottom:60px;
  }
  footer{
  	height: 40px;
  }
}

@media (max-width: 480px) {
 .navbar .brand{
 	font-size: 28px!important;
 }
 
 .navbar .brand .small-part {
    font-size: 12px;
    margin-top: 4px;
}
 
 .navbar .btn-navbar{
 	margin-top:20px;
 }
}
