/*
   base.css
   deditec
			   Created by Mitaro on 2013-06-04.
   Copyright 2013 Mitaro. All rights reserved.
*/
@font-face {
    font-family: "nunito";
    src: url('../font/nunito/Nunito-Light.ttf') format("truetype");
}
html{height: 100%}
body{ 
	margin:0;
	padding:0;
	height:100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #808080;
	background-image: url('../img/backgrounds/content-bg.jpg');
}
#page-wrapper{
	min-height:100%;
   	position:relative;
   	padding-top:40px;
}
#page-content{
	padding-bottom:300px;
	
}
header{
	background-color: #080808;
    height: 44px;
    line-height: 44px;
    padding: 0 2%;
	box-shadow: -1px 6px 19px;
	-moz-box-shadow: -1px 6px 19px;
	-webkit-box-shadow: -1px 6px 19px;
	position: fixed;
    width: 96%;
    z-index: 200;
    top: 0;
    left: 0;
}

.brand{
	color: #FFFFFF;
	text-shadow: 0 0 0;
	font-size: 28px;
	font-weight: bold;
}
	a.brand:hover{
		color: #FFFFFF;
	}
	
	.brand .small-part{
		color: #808080;
		display: block;
		font-size: 10px;
		font-weight: bold;
		margin-top: -5px;
		text-align: right;
	}

.fake-header{
	background-color: #080808;
	height: 72px;
	min-height: 72px;
	box-shadow: 1px 20px 16px -6px;
	-moz-box-shadow: 1px 20px 16px -6px;
	-webkit-box-shadow: 1px 20px 16px -6px;
}
footer{
	box-shadow: -1px -6px 19px;
	-moz-box-shadow: -1px -6px 19px;
	-webkit-box-shadow: -1px -6px 19px;
	position:absolute;
   	bottom:0;
  	width:100%;
	background-color: #080808;
	height:260px;
	padding-top:20px; 
}

	
h1{}
h2{
	font-family:'nunito';
	font-size: 20px;
	font-weight: 400;
	color: #151515;
	text-align: center;
	padding: 0 20px;
}
h3{}
h4{}
h5{}
p{}
p a{}

a{color: #808080; text-decoration: none;}
a:hover{color: #6DB802;text-decoration: none;}
a img{}
a span{}

table{}
table thead{}
table thead th{}
table thead th td{}
table tbody{}
table tbody tr{}
table tbody tr td{}

form{}
form label{}
form input{}
form input[type="text"]{};
form input[type="submit"]{};
form fieldset{}

ul{list-style: none; margin: 0;}
ul li{}

.go-down{
	position: absolute;
	bottom: 0;
}
.greenText{color:#6DB802!important;}
.btn.btn-green{}
.btn.btn-green:hover{background: #6DB802; color:#fff;}
.btn.btn-gray{}
.btn.btn-gray:hover{background: #666;; color:#fff;}
.btn.btn-dark{background: #080808; color:#fff; border: 1px solid #080808;font-weight: bold;text-shadow: 0 0 5px #000000;}
.btn.btn-dark:hover, .btn.btn-dark.active{
	background: #6DB802; 
	color:#fff;
	
	box-shadow: 0 0 4px #000000 inset;
	-moz-box-shadow: 0 0 4px #000000 inset;
	-webkit-box-shadow: 0 0 4px #000000 inset;
	-o-box-shadow: 0 0 4px #000000 inset;
}

.line-dark{
	border-bottom: 1px solid #202020
}

.line-light{
	border-bottom: 1px solid #dddee0 
}

nav{
	height: 40px;
    left: 50%;
    line-height: 40px;
    margin-left: -210px;
    position: fixed;
    top: 0;
    width: 420px;
    z-index: 1001;
}

	nav .btn{
		-moz-transition: all 1s ease;
			-webkit-transition: all 1s ease;
			-o-transition: all 1s ease;
			transition: all 1s ease;
	}
	
		nav .btn:hover{
			-moz-transition: all 1s ease;
			-webkit-transition: all 1s ease;
			-o-transition: all 1s ease;
			transition: all 1s ease;
			
			-moz-transform: rotate(-5deg) translate(0, 10px);
			-webkit-transform: rotate(-5deg) translate(0, 10px);
			-o-transform:rotate(-5deg) translate(0, 10px);
			transform: rotate(-5deg) translate(0, 10px);
			z-index: 1002;
		}
	
	nav .btn-group .btn{
		border-radius: 0!important; 
	}

/*nav fix*/
.navbar{
	xbackground: #080808;
	
	margin: 0;
}
	.navbar .account-box{	
		min-height: 21px;
	}
	
.navbar .navbar-inner{border: none;box-shadow: 0 0 0; border-radius: 0 0 0 0; filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.navbar .navbar-inner .nav-collapse .nav{margin-top:5px;background: #080808;}
.navbar .navbar-inner .nav-collapse .nav > li{
	box-shadow: 6px 0px 2px -7px #fff;
	-moz-box-shadow: 6px 0px 2px -7px #FFFF;
	-webkit-box-shadow: 6px 0px 2px -6px #fff;
}
.navbar .navbar-inner .nav-collapse .nav > li:last-child{}	

.navbar .navbar-inner .nav-collapse .nav > li > a{
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	line-height: 2em;
	padding: 8px 28px 9px 27px;
	color: #fff;
	text-shadow: 0 0 0;
}
.navbar .navbar-inner .nav-collapse .nav > li.active > a,
.navbar .nav > .active > a, 
.navbar .navbar-inner .nav-collapse .nav > li > a:hover,
.navbar .nav > .active > a:hover{
	color:#6DB802;
	background: none;
	background-color: transparent;
	box-shadow: 0 0 0;
	border-radius: 0 0 0 0;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle{
	background-color:transparent;
	color: #6DB802;
}

.navbar .pull-right > li > .dropdown-menu, .navbar .nav > li > .dropdown-menu.pull-right{
	right: 19px;
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus, 
.dropdown-submenu:hover > a, 
.dropdown-submenu:focus > a{
	background: #6DB802;
}

.icon-white, 
.nav-pills > 
.active > a > [class^="icon-"], 
.nav-pills > .active > a > [class*=" icon-"], 
.nav-list > .active > a > [class^="icon-"], 
.nav-list > .active > a > [class*=" icon-"], 
.navbar-inverse .nav > .active > a > [class^="icon-"], 
.navbar-inverse .nav > .active > a > [class*=" icon-"], 
.dropdown-menu > li > a:hover > [class^="icon-"], 
.dropdown-menu > li > a:focus > [class^="icon-"], 
.dropdown-menu > li > a:hover > [class*=" icon-"], 
.dropdown-menu > li > a:focus > [class*=" icon-"], 
.dropdown-menu > .active > a > [class^="icon-"], 
.dropdown-menu > .active > a > [class*=" icon-"], 
.dropdown-submenu:hover > a > [class^="icon-"], 
.dropdown-submenu:focus > a > [class^="icon-"], 
.dropdown-submenu:hover > a > [class*=" icon-"], 
.dropdown-submenu:focus > a > [class*=" icon-"]{
	background-image: none!important;
}

.nav-collapse .nav > li > a:hover, 
.nav-collapse .nav > li > a:focus, 
.nav-collapse .dropdown-menu a:hover, 
.nav-collapse .dropdown-menu a:focus {
    background-color: #6DB802;
}

.carousel-box{
	padding: 20px  20px  20px  80px;
	background-color: #FFFFFF;  
	margin-top: 25px;
	border: 10px; 
	border-radius: 15px; 
	margin-bottom: 20px;
	box-shadow: 0px 11px 20px 0px;
	-moz-box-shadow: 0px 11px 20px 0px;
	-webkit-box-shadow: 0px 11px 20px 0px;
	-o-box-shadow: 0px 11px 20px 0px;
}
.carousel{max-height: 450px;margin: 0;border-radius: 10px;border: 1px solid #ccc;}
.carousel .carousel-inner{max-height: 450px;border-radius: 10px;}
.carousel .carousel-inner .item{max-height: 450px;}
.carousel .carousel-inner .button-slider-box{
	bottom: 0;
    height: 60px;
    right: 0;
    line-height: 60px;
    margin-bottom: 15px;
    padding: 15px;
    position: absolute;
    width: 230px;
    text-align: center;
    z-index: 10;
}    
.carousel .carousel-inner .button-slider-box h4{color: #FFF}
.carousel .carousel-inner .button-slider-box h4 a{color: #FFF}
.carousel .carousel-inner .button-slider-box h4 a:hover{color: #6DB802}
.carousel .carousel-inner .button-slider-box p{line-height: normal;}
.carousel .carousel-control{top:50%;}

.carousel .carousel-caption{height: 420px; width: 230px; left:auto;right:0;}
.carousel .carousel-caption.goLeft{left:0;}
.carousel .carousel-caption.goLeft p{color: #080808!important;}

.carousel-indicators {
	position: absolute;
	top: 15px;
	left:-73px;
	z-index: 0;
	margin: 0;
	list-style: none;
}
.carousel-indicators li {
	display: block;
	width:40px;
	height: 40px;
	margin-left: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	float:none;
	
	background: transparent;
	border-radius: 40px;
	box-shadow: 0px 0px 22px -5px;
	-moz-box-shadow: 0px 0px 22px -5px;
	-webkit-box-shadow: 0px 0px 22px -5px;
	-o-box-shadow: 0px 0px 22px -5px;
	
	font-family: 'nunito';
	font-weight: 400;
	color: #080808;
	text-indent: 0;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
}	
.carousel-indicators li:hover{
	background-color: #6DB802;
	color: #fff;
}
.carousel-indicators .active {
	animation:myfirst 0.2s;
	-webkit-animation:myfirst 0.2s; /* Safari and Chrome */
	padding-right: 27px;
	border-radius: 40px 0 0 40px;
	background-color: #6DB802;
	color: #fff;
	border-right: none;
	
	box-shadow: 0px 0px 22px -5px #000;
	-moz-box-shadow: 0px 0px 22px -5px #000;
	-webkit-box-shadow: 0px 0px 22px -5px #000;
	-o-box-shadow: 0px 0px 22px -5px #000;
}

 .no_bg{
	background: none;
	background-color: transparent;
	
}


@keyframes myfirst
{
from { padding-right: 0; color: #080808;border-radius: 40px;}
to { padding-right: 27px; color: #fff;border-radius: 40px 0 0 40px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {padding-right: 0; color: #080808;border-radius:40px;}
to {padding-right: 27px; color: #fff;border-radius: 40px 0 0 40px;}
}