.btn{border-radius: 0}
.btn:hover{ border-bottom-color: transparent; text-shadow: 0 0 0}
.btn.btn-large i[class^="icon-"]{ vertical-align: baseline; }

/* fix mobile grid  */
@media (max-width: 767px) {
  .media-row {
    width: 100%;
    *zoom: 1;
  }
  .media-row:before,
  .media-row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .media-row:after {
    clear: both;
  }
  .media-row [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 1.2987012987012987%;
    *margin-left: 1.2425215234204%;
  }
  .media-row [class*="span"]:first-child {
    margin-left: 0;
  }
  .media-row .span12 {
    width: 100%;
    *width: 99.9438202247191%;
  }
  .media-row .span11 {
    width: 91.55844155844156%;
    *width: 91.50226178316066%;
  }
  .media-row .span10 {
    width: 83.1168831168831%;
    *width: 83.0607033416022%;
  }
  .media-row .span9 {
    width: 74.67532467532467%;
    *width: 74.61914490004378%;
  }
  .media-row .span8 {
    width: 66.23376623376623%;
    *width: 66.17758645848534%;
  }
  .media-row .span7 {
    width: 57.79220779220779%;
    *width: 57.736028016926895%;
  }
  .media-row .span6 {
    width: 49.35064935064935%;
    *width: 49.29446957536845%;
  }
  .media-row .span5 {
    width: 40.90909090909091%;
    *width: 40.85291113381001%;
  }
  .media-row .span4 {
    width: 32.467532467532465%;
    *width: 32.41135269225157%;
  }
  .media-row .span3 {
    width: 24.025974025974023%;
    *width: 23.969794250693123%;
  }
  .media-row .span2 {
    width: 15.584415584415584%;
    *width: 15.528235809134685%;
  }
  .media-row .span1 {
    width: 7.142857142857142%;
    *width: 7.086677367576243%;
  }
}