@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?70008108');
  src: url('../font/fontello.eot?70008108#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?70008108') format('woff'),
       url('../font/fontello.ttf?70008108') format('truetype'),
       url('../font/fontello.svg?70008108#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?70008108#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-gplus:before { content: '\e81b'; } /* '' */
.icon-wikipedia:before { content: '\e81c'; } /* '' */
.icon-blogger:before { content: '\e81d'; } /* '' */
.icon-linkedin:before { content: '\e819'; } /* '' */
.icon-rss:before { content: '\e81a'; } /* '' */
.icon-twitter:before { content: '\e81f'; } /* '' */
.icon-email:before { content: '\e820'; } /* '' */
.icon-facebook:before { content: '\e81e'; } /* '' */
.icon-instagram:before { content: '\e821'; } /* '' */
.icon-mail:before { content: '\e818'; } /* '' */
.icon-pencil:before { content: '\e826'; } /* '' */
.icon-ok:before { content: '\e810'; } /* '' */
.icon-ok-circle:before { content: '\e806'; } /* '' */
.icon-ok-circle-1:before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e811'; } /* '' */
.icon-cancel-circle:before { content: '\e80f'; } /* '' */
.icon-plus-circle:before { content: '\e812'; } /* '' */
.icon-minus-circle:before { content: '\e813'; } /* '' */
.icon-wallet:before { content: '\e822'; } /* '' */
.icon-help:before { content: '\e824'; } /* '' */
.icon-ok-circled:before { content: '\e808'; } /* '' */
.icon-right-circled-1:before { content: '\e809'; } /* '' */
.icon-left-circle:before { content: '\e80c'; } /* '' */
.icon-right-circle:before { content: '\e807'; } /* '' */
.icon-right-circle-1:before { content: '\e80a'; } /* '' */
.icon-up-circle:before { content: '\e80b'; } /* '' */
.icon-down-circle:before { content: '\e80d'; } /* '' */
.icon-user-add:before { content: '\e802'; } /* '' */
.icon-logout:before { content: '\e816'; } /* '' */
.icon-right-circled:before { content: '\e805'; } /* '' */
.icon-police:before { content: '\e825'; } /* '' */
.icon-user:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-attach:before { content: '\e815'; } /* '' */
.icon-megaphone:before { content: '\e817'; } /* '' */
.icon-upload:before { content: '\e804'; } /* '' */
.icon-download:before { content: '\e803'; } /* '' */
.icon-key:before { content: '\e823'; } /* '' */
.icon-link:before { content: '\e814'; } /* '' */